<div class="main-container">
  <div class="container">
    <div class="row text-center">

      <div  class="region-div col-12">
        <img [routerLink]="['/country-list','region','all']" class="cursor-pointer  all-region-img" src="assets/all.svg">
        <p class="region-title text-black">All Countries</p>
      </div>

      <div  class="region-div col-12 col-sm-6 col-md-4 col-lg-2">
        <img [routerLink]="['/country-list','region','asia']" class="cursor-pointer region-img" src="assets/asia.svg">
        <p class="region-title text-black">Asian Countries</p>
      </div>

      <div  class="region-div col-12 col-sm-6 col-md-4 col-lg-2">
        <img [routerLink]="['/country-list','region','africa']" class="cursor-pointer region-img" src="assets/africa.svg">
        <p class="region-title text-black">African Countries</p>
      </div>

      <div class="region-div col-12 col-sm-6  col-md-4 col-lg-2">
        <img [routerLink]="['/country-list','region','americas']" class="cursor-pointer region-img" src="assets/americas.svg">
        <p class="region-title text-black">American Countries</p>
      </div>

      <div  class="region-div col-12 col-sm-6 col-md-4 col-lg-2">
        <img [routerLink]="['/country-list','region','europe']" class="cursor-pointer region-img" src="assets/europe.svg">
        <p class="region-title text-black">Europian Countries</p>
      </div>

      <div class="region-div col-12 col-sm-6 col-md-4 col-lg-2">
        <img [routerLink]="['/country-list','region','oceania']" class="region-img cursor-pointer " src="assets/oceania.svg">
        <p class="region-title text-black">Oceanian Countries</p>
      </div>

      <div  class="region-div col-12 col-sm-6 col-md-4 col-lg-2">
        <img [routerLink]="['/country-list','region','polar']" class="region-img cursor-pointer" src="assets/polar.svg">
        <p class="region-title text-black">Polar Countries</p>
      </div>

    </div>

  </div>


</div>